body {
    background-image: url(img/background_2.png);
    background-repeat: no-repeat;
    background-size: cover
}
body::before{
    content: "";
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
}
p{
    font-size: 17px;
    color: red;
}
@media screen and (max-width: 540px) {
    .section0{
        .back1{
            width: 100px;
            height: 25px;;
            text-align: center;
            font-size: 13px;
            border: 0;
            border-radius: 15px;
            background-color: #C6DBDA;
        }
        .back:hover{
            background-color: gray;
        }
        .joinForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;      

            #newUsername, #newPassword{
                height: 30px;
                width: 250px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 15px;
                margin: 30px;
            }
            #joinButton{
                width: 125px;
                height: 30px;;
                text-align: center;
                font-size: 13px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #joinButton:hover{
                background-color: gray;
            }
            
        }
    }
    .section1{
        .loginForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;      

            #username, #password{
                height: 30px;
                width: 250px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 15px;
                margin: 30px;
            }
            #loginButton, #generate {
                width: 125px;
                height: 30px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #loginButton:hover, #generate:hover{
                background-color: gray;
            }
        }
    }
    .section2{
        .writen, .readen{
            width: 112px;
            height: 40px;;
            text-align: center;
            font-size: 15px;
            border: 0;
            border-radius: 15px;
            background-color: #ffecfe;
            margin: 17px;
        }
        .writen{
            position: fixed;
            top: 80%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
        .readen{
            position: fixed;
            top: 80%;
            left: 73%;
            transform: translate(-50%, -50%);
        }
        .writen:hover, .readen:hover{
            background-color: gray;
        }
    }
    .section3{
        .top-bar{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .back{
                width: 100px;
                height: 25px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #C6DBDA;
            }
            .datepicker{
                width: 164px;
                height: 20px;
                text-align: center;
                font-size: 17px;
            }
            .save{
                width: 100px;   
                height: 25px;;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
            }
            .back:hover, .save:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            content: "";
            height: 12vh;

            .red-button, .blue-button, .black-button{
                position: fixed;
                top: 6%;
                width: 80px;
                height: 25px;;
                font-size: 15px;
                color : white;
                border: 0;
                border-radius: 15px;
                transform: translate(-50%, -50%);
            }
            .black-button{
                background-color: black;
                left: 13%;
            }
            .blue-button{
                background-color: blue;
                left: 50%;
            }
            .red-button{
                background-color: red;
                left: 88%;
            }
            .pink-note, .gray-note, .normal-note, .emoticon-button{
                position: fixed;
                top: 10%;
                width: 80px;
                height: 25px;;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                transform: translate(-50%, -50%);
            }
            .normal-note{
                background-color: beige;
                left: 13%;
            }
            .gray-note{
                background-color: gray;
                left: 37%;
            }
            .pink-note{
                background-color: pink;
                left: 63%;
            }
            .emoticon-button{
                left: 88%;
            }
            .red-button:hover, .blue-button:hover, .black-button:hover, .emoticon-button:hover{
                background-color: gray;
            }
            .pink-note:hover, .gray-note:hover, .normal-note:hover{
                background-color: white;
            }
            .emoticon-selection{
                margin-top: 9vh;
            }
        }
        
        .note{
            display: flex;
        }
        .textnote {
            height: 75vh;
            width: 100%; 
        }
    }
    .section4{
        .top-bar{
            display: flex;
            justify-content: space-between;

            .back{
                width: 100px;
                height: 25px;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #C6DBDA;
            }
            .del{
                width: 100px;   
                height: 25px;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #C6DBDA;
            }
            .back:hover, .del:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            justify-content: space-around;
            margin-top: 10px;

            .go, .check{
                width: 100px;
                height: 25px;;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
            }
            .go:hover, .check:hover{
                background-color: gray;
            }
        }
    }
    .section5{
        .option{
            display: flex;
            height: 95px;
            .back4{
                width: 100px;
                height: 25px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #C6DBDA;
            }
            .back4:hover{
                background-color: gray;
            }
        }
        .savejone{
            display: flex;
        }
    }
}
@media screen and (min-width: 541px) and (max-width: 1023px) {
    .section0{
        .back1{
            width: 125px;
            height: 30px;;
            text-align: center;
            font-size: 15px;
            border: 0;
            border-radius: 15px;
            background-color: #C6DBDA;
        }
        .back:hover{
            background-color: gray;
        }
        .joinForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;
        
            #newUsername, #newPassword{
                height: 30px;
                width: 300px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 17px;
                margin: 30px;
            }
            #joinButton{
                width: 150px;
                height: 30px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #joinButton:hover{
                background-color: gray;
            }
            
        }
    }
    .section1{
        .loginForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;

            #username, #password{
                height: 30px;
                width: 300px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 17px;
                margin: 30px;
            }
            #loginButton, #generate {
                width: 150px;
                height: 30px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #loginButton:hover, #generate:hover{
                background-color: gray;
            }
        }
    }
    .section2{
        .writen, .readen{
            width: 200px;
            height: 50px;;
            text-align: center;
            font-size: 22px;
            border: 0;
            border-radius: 30px;
            background-color: #ffecfe;
            margin: 17px;
        }
        .writen{
            position: fixed;
            top: 80%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
        .readen{
            position: fixed;
            top: 80%;
            left: 73%;
            transform: translate(-50%, -50%);
        }
        .writen:hover, .readen:hover{
            background-color: gray;
        }
    }
    .section3{
        .top-bar{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .back{
                width: 150px;
                height: 30px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .datepicker{
                width: 200px;
                height: 30px;
                text-align: center;
                font-size: 20px;
            }
            .save{
                width: 150px;   
                height: 30px;;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
            }
            .back:hover, .save:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            content: "";
            height: 15vh;

            .red-button, .blue-button, .black-button{
                position: fixed;
                top: 8%;
                width: 125px;
                height: 30px;;
                font-size: 25px;
                color : white;
                border: 0;
                border-radius: 20px;
                transform: translate(-50%, -50%);
            }
            .black-button{
                background-color: black;
                left: 13%;
            }
            .blue-button{
                background-color: blue;
                left: 50%;
            }
            .red-button{
                background-color: red;
                left: 88%;
            }
            .pink-note, .gray-note, .normal-note, .emoticon-button{
                position: fixed;
                top: 13%;
                width: 125px;
                height: 30px;;
                font-size: 20px;
                border: 0;
                border-radius: 20px;
                transform: translate(-50%, -50%);
            }
            .normal-note{
                background-color: beige;
                left: 13%;
            }
            .gray-note{
                background-color: gray;
                left: 37%;
            }
            .pink-note{
                background-color: pink;
                left: 63%;
            }
            .emoticon-button{
                left: 88%;
            }
            .red-button:hover, .blue-button:hover, .black-button:hover, .emoticon-button:hover{
                background-color: gray;
            }
            .pink-note:hover, .gray-note:hover, .normal-note:hover{
                background-color: white;
            }
            .emoticon-selection{
                margin-top: 12vh;
            }
        }
        .note{
            display: flex;
        }
        .textnote {
            height: 75vh;
            width: 100%; 
        }
    }
    .section4{
        .top-bar{
            display: flex;
            justify-content: space-between;

            .back{
                width: 150px;
                height: 35px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .del{
                width: 150px;   
                height: 35px;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .back:hover, .del:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;

            .go, .check{
                width: 150px;
                height: 35px;;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #ffecfe;
            }
            .datepicker{
                width: 250px;
                height: 35px;
                text-align: center;
                font-size: 30px;
            }
            .go:hover, .check:hover{
                background-color: gray;
            }
        }
    }
    .section5{
        .option{
            display: flex;
            height: 95px;
            .back4{
                width: 150px;
                height: 35px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .back4:hover{
                background-color: gray;
            }
        }
        .savejone{
            display: flex;
        }
    }
}
@media screen and (min-width: 1024px) {
    .section0{
        .back1{
            width: 100px;
            height: 25px;;
            text-align: center;
            font-size: 13px;
            border: 0;
            border-radius: 15px;
            background-color: #C6DBDA;
        }
        .back:hover{
            background-color: gray;
        }
        .joinForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;

            #newUsername, #newPassword{
                height: 30px;
                width: 300px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 17px;
                margin: 30px;
            }
            #joinButton{
                width: 150px;
                height: 30px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #joinButton:hover{
                background-color: gray;
            }
        }
    }
    .section1{
        .loginForm {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 98vh;

            #username, #password{
                height: 30px;
                width: 300px;
                text-align: center;
                background: none;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 17px;
                margin: 30px;
            }
            #loginButton, #generate {
                width: 150px;
                height: 30px;;
                text-align: center;
                font-size: 15px;
                border: 0;
                border-radius: 15px;
                background-color: #ffecfe;
                margin: 30px;
            }
            #loginButton:hover, #generate:hover{
                background-color: gray;
            }
        }
    }
    .section2{
        .writen, .readen{
            width: 200px;
            height: 50px;;
            text-align: center;
            font-size: 22px;
            border: 0;
            border-radius: 30px;
            background-color: #ffecfe;
            margin: 17px;
        }
        .writen{
            position: fixed;
            top: 80%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
        .readen{
            position: fixed;
            top: 80%;
            left: 73%;
            transform: translate(-50%, -50%);
        }
        .writen:hover, .readen:hover{
            background-color: gray;
        }
    }
    .section3{
        .top-bar{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .back{
                width: 150px;
                height: 35px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .back:hover{
                background-color: gray;
            }
            .datepicker{
                width: 250px;
                height: 35px;
                text-align: center;
                font-size: 30px;
            }
            .save{
                width: 150px;   
                height: 35px;;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
            }
            .back:hover, .save:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            content: "";
            height: 14vh;

            .red-button, .blue-button, .black-button{
                position: fixed;
                top: 8%;
                width: 150px;
                height: 30px;;
                font-size: 25px;
                color : white;
                border: 0;
                border-radius: 20px;
                transform: translate(-50%, -50%);
            }
            .black-button{
                background-color: black;
                left: 13%;
            }
            .blue-button{
                background-color: blue;
                left: 50%;
            }
            .red-button{
                background-color: red;
                left: 88%;
            }
            .pink-note, .gray-note, .normal-note, .emoticon-button{
                position: fixed;
                top: 13%;
                width: 150px;
                height: 30px;;
                font-size: 20px;
                border: 0;
                border-radius: 20px;
                transform: translate(-50%, -50%);
            }
            .normal-note{
                background-color: beige;
                left: 13%;
            }
            .gray-note{
                background-color: gray;
                left: 37%;
            }
            .pink-note{
                background-color: pink;
                left: 63%;
            }
            .emoticon-button{
                left: 88%;
            }
            .red-button:hover, .blue-button:hover, .black-button:hover, .emoticon-button:hover{
                background-color: gray;
            }
            .pink-note:hover, .gray-note:hover, .normal-note:hover{
                background-color: white;
            }
            .emoticon-selection{
                margin-top: 12vh;
            }
        }
        .note{
            display: flex;
        }
        .textnote {
            height: 75vh;
            width: 100%; 
        }
    }
    .section4{
        .top-bar{
            display: flex;
            justify-content: space-between;

            .back{
                width: 150px;
                height: 35px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .del{
                width: 150px;   
                height: 35px;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .back:hover, .del:hover{
                background-color: gray;
            }
        }
        .option{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;

            .go, .check{
                width: 150px;
                height: 35px;;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #ffecfe;
            }
            .datepicker{
                width: 250px;
                height: 35px;
                text-align: center;
                font-size: 30px;
            }
            .go:hover, .check:hover{
                background-color: gray;
            }
        }
    }
    .section5{
        .option{
            display: flex;
            height: 95px;
            .back4{
                width: 150px;
                height: 35px;;
                text-align: center;
                font-size: 23px;
                border: 0;
                border-radius: 20px;
                background-color: #C6DBDA;
            }
            .back4:hover{
                background-color: gray;
            }
        }
        .savejone{
            display: flex;
        }
    }
}